/*FONTS*/
/* Mobile first codes*/
@font-face {
    font-family: "SegoeWPLight";
    src: url("../fonts/SegoeWPLight.ttf");
}
body{
    font-family: 'SegoeWPLight';
    font-size: 1rem;
}
.my-6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-7{
    margin-bottom: 35px;
    margin-top: 35px;
}

.navbar-brand{
    padding-left: 6%;
}

.navbar-brand p{
    font-size: 2.6rem;
    color: #000;
}

ul :hover {
    border-bottom: 3px solid #005cbf;
    margin-bottom: -3px;
}

.lh-2{
    line-height: 2;
}


/*CSS groter dan mobiel*/

/*sm*/
@media (min-width: 576px) {  }

/*md*/
@media (min-width: 768px) {  }

/*lg*/
@media (min-width: 992px) {
    .my-7{
        margin-bottom: 75px;
        margin-top: 75px;
    }
}

/*xl*/
@media (min-width: 1200px) {  }